#complaint {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit-page {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.send-div {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f6f8;
    height: 50rem;
    width: 60%;
    margin-top: 2.5rem;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    justify-content: space-around;

}

.send-div h1 {

    font-size: 3rem;
    margin: 0%;
}

.select-div {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
    margin-right: 3rem;
}

.select-div label {

    font-weight: bold;
    font-size: 1.2rem;
}

#select {

    height: 2rem;
    width: 15rem;
}

.content-div {

    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: end;
    margin-right: 3rem;
}

.content-div label {

    font-weight: bold;
    font-size: 1.2rem;
}

#content {

    width: 80%;
    height: 9rem;
    font-size: 1.5rem;
    padding: 1rem;
}

#sent-complaint {

    height: 2.5rem;
    width: 13rem;
    background-color: #419955;
    color: white;
    font-size: 1.3rem;
    border-radius: 4px;
    border: none;
}

#sended {

    background-color: #e3eee0;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 1rem;
    color: #5a6e57;
}